body {
  background: grey;
}

.titulo {
  text-align: center;
  padding-top: 1%;
}

.container-fluid {
  background: grey;

  text-align: center;
  align-items: center;
}

.general {
  text-align: center;
  background: white;
  margin-left: 20%;
  margin-right: 30%;
  margin-bottom: 40%px;
  margin-top: 10%;
  align-items: center;
}

.primeralinea {
  text-align: center;
  display: flex;
  padding-bottom: 5%;
}

.segundalinea {
  text-align: center;
  display: flex;
  padding-bottom: 5%;
}

.terceralinea {
  text-align: center;
  display: flex;
}

.container-fluid {
  margin-left: 5%;
}

.footerbutton {
  align-items: center;
  margin-right: 10%;
  padding-bottom: 15%;
}

.isvalid {
  border: 2px solid green;
}

.isinvalid {
  border: 2px solid red;
}
