body {
  background: grey;
}

.titulo {
  text-align: center;
  padding-top: 20px;
}

.container-fluid {
  background: grey;

  text-align: center;
  align-items: center;
}

.general {
  text-align: center;
  background: white;
  margin-left: 300px;
  margin-right: 500px;
  margin-bottom: 400px;
  margin-top: 100px;
  align-items: center;
}

.primeralinea {
  text-align: center;
  display: flex;
  padding-bottom: 30px;
  margin-top: -50px;
}

.segundalinea {
  text-align: center;
  display: flex;
  padding-bottom: 30px;
}

.terceralinea {
  text-align: center;
  display: flex;
}

.container-fluid {
  margin-left: 20px;
}

.footerbutton {
  align-items: center;
  margin-right: -200px;
  padding-bottom: 50px;
}
